## addon-repository

This apps repository contains stable releases of apps.

## Installation

Adding this apps repository to your Home Assistant instance is
pretty straightforward. In the Home Assistant apps store,
a possibility to add a repository is provided.

Use the following URL to add this repository:

```txt
{{ repo }}
```

## Apps provided by this repository

{% for app in apps %}
### &#10003; [{{ app.name }}][addon-{{ app.target }}]

![Latest Version][{{ app.target }}-version-shield]
![Supports aarch64 Architecture][{{ app.target }}-aarch64-shield]
![Supports amd64 Architecture][{{ app.target }}-amd64-shield]

{{ app.description }}

[:books: {{ app.name }} app documentation][addon-doc-{{ app.target }}]

{% endfor %}

{% for app in apps %}
[addon-{{ app.target }}]: {{ app.repo }}/tree/{{ app.version }}
[addon-doc-{{ app.target}}]: {{ app.repo }}/blob/{{ app.version }}/README.md
[{{ app.target }}-issue]: {{ app.repo }}/issues
[{{ app.target }}-version-shield]: https://img.shields.io/badge/version-{{ app.version | replace("-", "--") }}-blue.svg
{% for arch in ['aarch64', 'amd64'] %}
{% if arch in app.archs %}
[{{ app.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-yes-green.svg
{% else %}
[{{ app.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-no-red.svg
{% endif %}
{% endfor %}
{% endfor %}

## Found an issue?
Please report it in app dedicated repository
{% for app in apps %}
- [Open an issue for the app: {{ app.name }}][{{ app.target }}-issue]
{% endfor %}